body {
    background-size: cover;
    background-image: url("http://wallpapercave.com/wp/aHBwrlG.jpg");
}

.navbar {
    border-radius: 0px;
}

h1 {
    color: white;
}

.jumbotron {
    background-color: rgba(52,73,94,0.7);
    margin-left: -40px;
    margin-right: -40px;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.08rem;
    background-color: #efefef;
    text-align: center;
}

.search-form_3{
    right: 50px;
    padding: 0.5rem;
    background-color:darkblue;
}
.search_3{
    left:100px;

}
.form-control
{
    position: absolute;
    left: 200px;

}
.w3-btn-block{
    position: absolute !important;
    top: 125px;
    width: 10%;
    right: 90px;
}

.mainselection {
    overflow:hidden;
    width:350px;
    margin-left:35px;
}
select {
    border:0;
    background:transparent;
    height:32px;
    border:1px solid #d8d8d8;
    width:350px;
    -webkit-appearance: none;
}

.mainselection{
    position: absolute;
    right: 270px;
    width: 120px;
    top: 120px ;
}